*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.board {
  display: flex;
  flex-wrap: wrap;

  .empty {
    background: #00f;
  }

  .columns {
    background: #0f0;
    display: flex;
    flex-direction: row;
    grid-gap: 1px;
    padding: 1px;
  }
  .rows {
    background: #f00;
    display: flex;
    flex-direction: column;
    grid-gap: 1px;
    padding: 1px;
  }

  .row-label {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .column-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .row-label,
  .column-label {
    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &::after {
        content: "";
        height: 90%;
        width: 90%;
        top: 5%;
        left: 5%;
        border: solid 1px;
        position: absolute;
      }
    }
  }

  .playfield {
    display: grid;
    background: #123;
    grid-gap: 1px;
    padding: 1px;

    .field {
      background: violet;

      &.clicked {
        background: black;
      }
    }
  }
}
